.feedback-code {
  width:100%;
  display: block;
}

h2.bb-4 {
  padding: 1rem;
  border-bottom: 4px solid black;
}

h5 {
  margin-top:0;
}

ul li {
  width: 100%;
  float:left;
}

.btn.left {
  margin-right: 1rem;
}

.btn.float-right {
  margin-left: 1rem;
}

.col.actions {
  margin-top:2rem;
  padding:1rem;
}

.float-right {
  float:right;
}

.bar {
  height: 6px;
  width:0px;
  float:left;
  margin-top: 27px;
  background-color:black;
  transition: width 0.3s ease-out;
}

@media (max-width: 600px) {
  .md-mt-2 {
    margin-top: 2rem;
  }
}

@media (max-width: 700px){
  .btn.float-right {
    margin-left: 0rem;
  }

  .actions .btn {
    width:100%;
    margin-bottom:1rem;
  }

  .actions .btn:last-child {
    margin-bottom:0;
  }

  .float-right {
    float:none;
  }
}